/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.10em;
}
.nav-bar brand {
    max-height: -0.5em;
    max-width: -0.5em;
}