/* You can add global styles to this file, and also import other style files */
body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Source Code Pro", monospace;
}

.nav-bar brand {
  max-height: -0.5em;
  max-width: -0.5em;
}
